/* START Footer */
footer {
    background-color:#afa9a4;
    color: #ffffff;
    padding: 1rem 2rem;
    text-align: center;
    }
    
    footer p {
    margin-bottom: 2rem;
    
    }
    
    footer ul {
    display: flex;
    
    justify-content: center;
    align-items: center;
    list-style: none;
    }
    
    footer ul li {
    margin-right: 2rem;
    }
    
    footer ul li:last-child {
    margin-right: 0;
    }
    
    footer ul li a {
    color: #ffffff;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
    }
    
    footer ul li a:hover {
    color: #aaaaaa;
    }
    /* END Footer */