/* Webfont: PiersonDemo */@font-face {
    font-family: 'PiersonDemo';
    src: url('PiersonDemo.eot'); /* IE9 Compat Modes */
    src: url('PiersonDemo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('PiersonDemo.woff') format('woff'), /* Modern Browsers */
         url('PiersonDemo.ttf') format('truetype'), /* Safari, Android, iOS */
         url('PiersonDemo.svg#PiersonDemo') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

