body {
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;
  }
.contact-info {
	background-color: #f9f9f9;

	padding-top: 100px;
	border-radius: 5px;
	/* margin-bottom: 20px; */
	text-align: center;
	/* padding-top: 8%; */
  }
  
  .contact-info h2 {
	font-size: 32px;
	/* margin-bottom: 10px; */
	
  }
  
  .contact-info ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
  }
  
  .contact-info li {
	margin-bottom: 10px;
	
  }
  
  .contact-info li i {
	margin-right: 10px;
	color: #999;
	
  }
  
  .contact-info li a {
	color: #555;
	
	text-decoration: none;
  }
  
  .contact-info li a:hover {
	color: #333;
	text-decoration: underline;
  }
  /*FORM*/
  .contact-form {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	text-align: center;
	
  }
  
  .contact-form h2 {
	font-size: 32px;
	margin-bottom: 10px;
  }
  
  .contact-form form {
	display: inline-block;
	text-align: left;
  }
  
  .contact-form .form-group {
	margin-bottom: 10px;
	
  }
  
  .contact-form label {
	display: block;
	margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="phone"],
  .contact-form textarea {
	width: 250px;
	padding: 20px;
	border-radius: 10px;
	border: none;
	box-shadow: none;
	background-color: #fff;
	
	
  }
  
  .contact-form textarea {
	resize: vertical;
	width: 350px;
  }


  .contact-form button[type="submit"] {
	background-color: #cccccc;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 16px;
  }
  
  .contact-form button[type="submit"]:hover {
	background-color: #494949;
  }
  