* {
	/* box-sizing: border-box; */
	margin: 0;
	padding: 0;
    /* padding-top: 40px; */
}

body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
    padding-top: 120px;
}

.header {
	background-color: #eee;
	padding: 20px;
	text-align: center;
}

.cover_photo_container {
	background-image: url('images/rings/cover_photo.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
	padding-bottom: 230px;
	background-position-y: 80%;
	width: 1300px;
	height: 500px;
	top:-550px;
	background-position-y: 14px;
    background-position-x: -1px
  }
  
  .cover_photo_title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	color: white;
  }
  



.catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: -270px; 
	margin-top: -480px;
}

.product-box {
	width: 250px;
	height: 300px;
	margin: 10px;
	padding: 10px;
	text-align: center;
	transition: transform .9s;
}

.product-box:hover {
	transform: scale(1.05);
}

.product-box img {
	height: 250px;
	width: 220px;
	object-fit: cover;
	margin-bottom: 2px;
}

.product-box h3 {
	font-size: 1rem;
	margin-bottom: 1px;
    font-weight: 200;
}

.product-box p {
	margin-bottom: 2px;
    font-size: 0.75rem;
}


